$headerHeightRate: 3rem;
$colorContentLength: 50px;
$gridLength: 1rem;
$contentLargeMargin: $gridLength * 1.5;
$contentMediumMargin: $gridLength;
$contentSmallMargin: $gridLength * .5;
$mediumContentSizeWidth: 45%;
$mediumContentSizeHeight: 68%;
$transitionTime: 0.1s;
$lightShadowColor: rgba(58, 49, 79, .5);
$shadowColor: rgba(58, 49, 79, .55);
$darkShadowColor: rgba(58, 49, 79, .6);
$distance1BoxShadow: 0px 2px 2px -1px $darkShadowColor;
$distance2BoxShadow: 0px 4px 4px -2px $shadowColor;
$distance3BoxShadow: 0px 6px 6px -3px $lightShadowColor;
$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
) !default;
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}


$diaryItemContextHeight: 3 * $gridLength;
$diaryItemDateHeight: 2 * $gridLength;
$diaryItemColorWidth: 1 * $gridLength;
$deleteItemColor: rgba(240, 0, 0, .9);
$hoverDeleteItemColor: rgba(240, 0, 0, .3);
$hexColorFormWidth: 100px;
$editDiaryColorHeight: 40px;


$fontCrimsonPro: 'Crimson Pro', serif;
$fontNotoSans: 'Noto Sans JP', sans-serif;
$fontPhilosopher: 'Philosopher', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontA1GothicL: A1ゴシック L;
$fontRaleway: 'Raleway', sans-serif;
$fontAwesome: 'Font Awesome 5 Free';


$fontColor: #021F36;
$backgroundColor: #FCFCFF;
$primaryColor: #206E69;
$secondaryColor: #CBF4BC;
$deleteColor: #C00;
$errorColor: #F73B70;