@use 'const' as *;

%colorContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 2 * $gridLength);
    grid-template-rows: repeat(auto-fit, 2 * $gridLength);
    grid-auto-flow: row;
    gap: .5 * $gridLength;
}

%mediumContentContainer {
    display: grid;
    grid-template-columns: 1fr minmax(500px, $mediumContentSizeWidth) 1fr;
    grid-template-rows: 1fr $mediumContentSizeHeight 1fr $headerHeightRate;

    @include mq(md) {
        grid-template-columns: $gridLength * 2 1fr $gridLength * 2;
        grid-template-rows: $gridLength * 2 1fr $gridLength * 2 $headerHeightRate;
    }

    @include mq(sm) {
        grid-template-columns: $gridLength * 1 1fr $gridLength * 1;
        grid-template-rows: $gridLength * 1 1fr $gridLength * 1;
    }
}

#app {
    display: grid;
    grid-template-rows: $headerHeightRate 1fr;
    #header{
        grid-row: 1;

        display: grid;
        padding: 0px 5 * $gridLength 0px;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;

        .left {
            grid-column: 1;
            grid-row: 1;
            display: grid;
            place-items: center;
        }

        .right {
            grid-column: 3;
            grid-row: 1;
            display: grid;
            grid-auto-columns: auto;
            grid-auto-flow: column;
            place-items: center;
            gap: $contentMediumMargin;
        }
    }
    #content{
        grid-row: 2;

        display: grid;
        place-items: center;
    }
}

%underContent {
    width: 100%;
    height: 100%;
}

%deleteObject {
    @extend %underContent;
    @extend %mediumContentContainer;

    .wrapper {
        grid-column: 2;
        grid-row: 2;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr repeat(2, auto) 1fr;
        gap: $contentSmallMargin;

        div.sentence {
            grid-column: 1 / 3;
            grid-row: 2;

            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            place-content: center;
            place-items: center;
            padding: .2rem;
            gap: .15rem;
            div.object {
                grid-column: 1;
                grid-row: 1;
            }
            span {
                grid-column: 1;
                grid-row: 2;
            }
        }
        div.cancel {
            grid-column: 1;
            grid-row: 3;

            display: grid;
            place-items: center end;
        }
        form {
            grid-column: 2;
            grid-row: 3;

            display: grid;
            place-items: center start;
        }
    }
}
%loginRegister {
    @extend %underContent;
    @extend %mediumContentContainer;

    form {
        grid-column: 2;
        grid-row: 2;

        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;
        gap: $contentSmallMargin;

        .titleContainer {
            grid-column: 2;
            grid-row: 1;
            justify-content: center;
            display: grid;
            padding-top: 2rem;
        }

        .formInput {
            grid-column: 2;
            grid-row: 2;

            display: grid;
            grid-auto-rows: auto;
            gap: $contentSmallMargin;
        }

        .wrapper {
            grid-column: 2;
            grid-row: 3;
            display: grid;
            grid-template-rows: 1fr auto 3fr;
            .button {
                grid-row: 2;
                width: 100%;
            }
        }
    }
}

#colorIndex {
    @extend %underContent;
    @extend %mediumContentContainer;


    .wrapper {
        @extend %colorContainer;
        grid-column: 2;
        grid-row: 2;
        padding: $gridLength;
    }
}

#chooseColor {
    @extend %underContent;
    @extend %mediumContentContainer;

    form {
        grid-column: 2;
        grid-row: 2;

        display: grid;
        grid-template-rows: 1fr auto auto;
        padding: $gridLength;

        .colorContainer {
            @extend %colorContainer;
            grid-row: 1;
        }

        .sliderWrapper {
            width: 100%;
            grid-row: 2;
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr;
            place-items: center;

            .slider {
                grid-column: 1;
                grid-row: 1;
                z-index: 1;
            }

            .sliderTrack {
                grid-column: 1;
                grid-row: 1;
                z-index: 0;
            }

            .sliderLabelWrapper {
                width: 100%;
                grid-column: 1;
                grid-row: 2;
                position: relative;
                .sliderLabel {
                    position: absolute;
                    display: grid;
                    justify-content: center;
                }
            }
        }

        .button {
            grid-row: 4;
            justify-self: start;
        }
    }
}

#deleteColor {
    @extend %deleteObject;
    .wrapper div.sentence {
        div.object {
            width: $editDiaryColorHeight;
            height: $editDiaryColorHeight;
        }
    }
}

#deleteDiary {
    @extend %deleteObject;
}

#editColor {
    @extend %underContent;
    @extend %mediumContentContainer;

    form {
        grid-column: 2;
        grid-row: 2;

        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        padding: $contentMediumMargin;
        gap: $contentSmallMargin;

        .pickr {
            grid-column: 1;
            grid-row: 1;

            width: 0px;
            height: 0px;
            visibility: hidden;
        }

        #color_picker_container {
            grid-column: 1;
            grid-row: 1;

            width: 100%;
            height: 100%;

            .pcr-app[data-theme=classic] {
                position: initial;
                width: 100%;
                height: 100%;

                .pcr-selection {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    grid-template-rows: 1fr;
                    grid-auto-flow: row;
                    gap: $contentSmallMargin;

                    .pcr-color-palette {
                        width: 100%;
                        height: 100%;

                        border-radius: 1.5px;
                    }

                    .pcr-color-chooser {
                        margin: 0px;

                        border-radius: 1.5px;
                    }
                }
            }
        }

        .wrapper {
            grid-column: 2;
            grid-row: 1;

            display: grid;
            grid-template-columns: auto min-content;
            grid-template-rows: auto auto auto 1fr auto;
            gap: $contentSmallMargin 0px;

            span {
                grid-column: 1;
                grid-row: 1;
                align-self: center;
                justify-self: end;
            }

            #id_hex_color {
                grid-column: 2;
                grid-row: 1;
                align-self: center;
                height: 100%;
                width: 100%;
            }

            #send {
                grid-column: 2;
                grid-row: 5;
            }

            #delete {
                grid-column: 2;
            }

            #preview {
                grid-column: 2;
                padding: $gridLength * .72;
            }
        }
    }
}

.dropdownMenu {
    display: grid;
    place-items: center;
    position: relative;
    .dropdownMenuItem {
        position: absolute;
        top: $gridLength;
        left: -4 * $gridLength;
        width: 5 * $gridLength;
        z-index: 2;
        li {
            display: grid;
            place-items: center start;

            a {
                display: block;
                width: 100%;
                padding: $contentSmallMargin;
            }
        }
    }
}

#diaryIndex {
    @extend %underContent;
    display: grid;
    grid-template-columns: $gridLength * 5 1fr $gridLength * 5;
    grid-template-rows: 2 * $gridLength 1fr 2 * $gridLength;

    #add {
        position: fixed;
        width: $gridLength * 2;
        height: $gridLength * 2;
        right: $gridLength * 5;
        bottom: $gridLength * 2.5;
        z-index: 2;
    }

    .diaryContainer {
        grid-column: 2;
        grid-row: 2;
        display: grid;
        grid-auto-rows: $diaryItemDateHeight + $diaryItemContextHeight;
        gap: $gridLength;

        #emptyString {
            grid-column: 1;
            grid-row: 1;
        }

        .diaryItem {
            display: grid;
            grid-template-columns: 1fr $gridLength * 2;
            grid-template-rows: $diaryItemDateHeight $diaryItemContextHeight;

            .date {
                grid-column: 1;
                grid-row: 1;

                padding-left: $gridLength * .6;
                place-items: center start;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                display: grid;
            }

            .context {
                grid-column: 1 / 3;
                grid-row: 1 / 3;
                padding-top: $diaryItemDateHeight * .8;
                padding-left: $gridLength * .6;
                padding-right: $gridLength;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                z-index: 1;
            }

            .dropdownMenu {
                grid-column: 2;
                grid-row: 1;
                z-index: 2;
            }
        }
    }
}

#editDiary {
    @extend %underContent;
    display: grid;
    padding: $contentMediumMargin 0px $contentMediumMargin;
    grid-template-columns: $gridLength * 5 1fr auto $gridLength * 5;
    grid-template-rows: $editDiaryColorHeight 1fr auto;
    gap: $contentSmallMargin 0px;

    textarea {
        grid-column: 2 / 4;
        grid-row: 1 / 3;

        resize: none;
        width: 100%;
        min-height: 100%;
    }

    .wrapper {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: $contentMediumMargin 1fr $editDiaryColorHeight;
        #color {
            grid-column: 3;
            display: grid;
        }
    }

    .button {
        grid-column: 3;
        grid-row: 3;
    }
}

#login {
    @extend %loginRegister;
}

#register {
    @extend %loginRegister;
}

#registerDone {
    @extend %underContent;
    @extend %mediumContentContainer;

    .wrapper {
        grid-column: 2;
        grid-row: 2;
        display: grid;
        place-content: center;
    }
}

#welcome {
    @extend %underContent;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(100vh - $headerHeightRate) auto;

    .top {
        grid-column: 1;
        grid-row: 1;
        padding: 0px 5 * $gridLength 0px;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3fr auto auto 1fr;
        place-items: center start;

        #title {
            grid-column: 1;
            grid-row: 2;
        }

        #discription {
            grid-column: 1;
            grid-row: 3;
        }
    }
}

#\34 04 {
    @extend %underContent;
    @extend %mediumContentContainer;

    .wrapper {
        grid-column: 2;
        grid-row: 2;

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        place-content: center;
    }
}

@include mq(md) {
    #app {
        #header {
            padding: 0px $gridLength * 2 0px;
        }
    }
    #diaryIndex {
        grid-template-columns: $gridLength * 2 1fr $gridLength * 2;
        #add {
            width: $gridLength * 2.5;
            height: $gridLength * 2.5;
            right: $gridLength * 2;
            bottom: $gridLength * 2;
        }
    }
}

@include mq(sm) {
    #app {
        #header {
            padding: 0px $gridLength 0px;
        }
    }
    #diaryIndex {
        grid-template-columns: $gridLength 1fr $gridLength;
        grid-template-rows: $gridLength 1fr $gridLength;
        #add {
            width: $gridLength * 3;
            height: $gridLength * 3;
            right: $gridLength;
            bottom: $gridLength;
        }
    }
}
