version: 2.1

orbs:
  heroku: circleci/heroku@1.2.6

executors:
  my-executor:
    docker:
      - image: circleci/python
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD

jobs:
  build:
    executor: my-executor
    steps:
      - checkout

      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.29.1/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose

      - setup_remote_docker:
          version: 19.03.13
  
      - run:
          name: Running Tests
          command: |
            ls -a color_diary_project/
            docker-compose -f docker-compose.test.yml build
            docker-compose -f docker-compose.test.yml up -d

            for i in $(seq 1 10); do
               echo "$i 回目"
               docker-compose -f docker-compose.test.yml exec back python color_diary_project/manage.py test color_diary && break
               sleep 10 && /bin/false
            done

            if [ $? -eq 0 ]; then
                echo "Success!"
            else
                echo "Give up..."
            fi
            docker-compose -f docker-compose.test.yml down -v
      
workflows:
  heroku_deploy:
    jobs:
      - build
      - heroku/deploy-via-git:
          requires:
            - build
          filters:
            branches:
              only: main

filters:
  branches:
    only:
      - main