version: 2.1

orbs:
  heroku: circleci/heroku@1.2.6

executors:
  my-executor:

jobs:
  test:
    docker:
      - image: circleci/python
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
      - image: circleci/mysql
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
        environment:
          MYSQL_ROOT_PASSWORD: rootpassword

    working_directory: ~/code
    steps:
      - checkout
      
      - run:
          name: Pip Install
          command: |
            pip install -r requirements.txt

      - run:
          name: Run Test
          command: |
            DB_NAME="color_diary_db"
            DB_HOST="db"
            DB_USER="root"
            DB_PASSWORD="rootpassword"
            PYTHONDONTWRITEBYTECODE=1
            PYTHONUNBUFFERED=1
            until python color_diary_project/manage.py test ; do
              sleep 10
            done
      
workflows:
  heroku_deploy:
    jobs:
      - test
      - heroku/deploy-via-git:
          requires:
            - test
          filters:
            branches:
              only: main

filters:
  branches:
    only:
      - main