version: 2.1

orbs:
  heroku: circleci/heroku@1.2.6

executors:
  my-executor:
    docker:
      - image: circleci/python
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD

jobs:
  build:
    executor: my-executor
    steps:
      - checkout

      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.29.1/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose

      - setup_remote_docker:
          version: 19.03.13
      
      - run:
          name: Docker Up
          command: |
            docker-compose -f docker-compose.test.yml up --build -d
  
  test:
    executor: my-executor
    steps:
      - run:
          name: Running Tests
          command: |
            docker-compose --version
            ls -a
            docker-compose -f docker-compose.test.yml ps
            docker-compose -f docker-compose.test.yml logs
            docker-compose -f docker-compose.test.yml exec back python color_diary_project/manage.py test color_diary
      
      - run:
          name: Docker Down
          command: |
            docker-compose -f docker-compose.test.yml down -v
          
workflows:
  heroku_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - heroku/deploy-via-git:
          requires:
            - test
          filters:
            branches:
              only: main

filters:
  branches:
    only:
      - main