version: 2.1

orbs:
  heroku: circleci/heroku@1.2.6

executors:
  my-executor:

jobs:
  test:
    docker:
      - image: cimg/python:3.9-node
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
      - image: circleci/mysql:5
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_HOST: 127.0.0.1

    working_directory: ~/code
    steps:
      - checkout

      - run:
          name: Decide whether to quit, depending on the content of the commit message.
          command: |
            COMMIT_MESSAGE=$(git log -1 HEAD --pretty=format:%s)
            TRIGGER_MATCH_PATTERN="^static$"
            if [[ ${COMMIT_MESSAGE} =~ ${TRIGGER_MATCH_PATTERN} ]]; then
              echo "Quit."
              circleci-agent step halt
            else
              echo "Since the commit message is not static, this job will continue."
            fi

      - run:
          name: Pip Install
          command: |
            pip install -r requirements.txt

      - run:
          name: Run Test
          command: |
            mkdir -p color_diary_project/logs
            touch color_diary_project/logs/app.log
            python color_diary_project/manage.py test color_diary
      
  deploy:
    docker:
      - image: cimg/python:3.9-node
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD

    working_directory: ~/code
    steps:
      - checkout

      - run:
          name: Decide whether to quit, depending on the content of the commit message.
          command: |
            COMMIT_MESSAGE=$(git log -1 HEAD --pretty=format:%s)
            TRIGGER_MATCH_PATTERN="^static$"
            if [[ ${COMMIT_MESSAGE} =~ ${TRIGGER_MATCH_PATTERN} ]]; then
              echo "Quit."
              circleci-agent step halt
            else
              echo "Since the commit message is not static, this job will continue."
            fi

      - run:
          name: Pip Install
          command: |
            pip install -r requirements.txt

      - run:
          name: Git Config
          command: |
            git config user.email "neco8+circleci@users.noreply.github.com"
            git config user.name "neco8+circleci"

      - run:
          name: Collect Static
          command: |
            mkdir -p color_diary_project/logs
            touch color_diary_project/logs/app.log
            git switch main
            cd color_diary_project
            rm -rf node_modules
            yarn
            yarn run css

            python manage.py collectstatic --no-input -c

            cd ../
            echo gitignore関連の操作スタート
            sed -i -e "s#color_diary_project/static/##" .gitignore
            git add -f .gitignore
            echo "gitignore add 終了"
            git commit -m --allow-empty "gitignoreを変更し、staticをデプロイできるようにする"
            echo gitignore関連の操作終了
            echo staticをコミットスタート
            git add -f color_diary_project/static
            echo "static add 終了"
            git commit -m --allow-empty "static"
            echo staticをコミット終了
            git push origin main
      
workflows:
  heroku_deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: main
      - heroku/deploy-via-git:
          requires:
            - deploy
          filters:
            branches:
              only: main

filters:
  branches:
    only:
      - main