{% extends "color_diary/base.html" %}

{% block title %}Emotebook. - Color Index{% endblock %}

{% block content %}
    {% load encode %}
    <div id="colorIndex">
        <div class="wrapper">
            {% for color in color_list %}
                {% if color == default_color %}
                    <div :style="{ 'background-color': backgroundColor('{{ color }}'), 'border-color': borderColor(backgroundColor('{{ color }}')) }" class="colorContent-disable transparent" id="{{ color.pk }}"></div>
                {% else %}
                    <div @click="colorDropdownMenuOnClickHandler({{ color.pk }})" :style="{ 'background-color': backgroundColor('{{ color }}'), 'border-color': borderColor(backgroundColor('{{ color }}')) }" class="colorContent-button dropdownMenu" id="{{ color.pk }}">
                        <ul class="dropdownMenuItem" :class="{ visible: objects[{{ color.pk }}]['isMenuVisible'] }">
                            <li><a href="{% url 'color_diary:edit-color' color_hash_id=color.pk|encode %}">Edit</a></li>
                            <li><a class="delete" href="{% url 'color_diary:delete-color' color_hash_id=color.pk|encode %}">Delete</a></li>
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
            <a :style="{ 'border-color': borderColor('#FFFFFF'), 'color': borderColor('#FFFFFF') }" class="colorContent-button" href="{% url 'color_diary:edit-color' color_hash_id=CREATE|encode %}"><i class="fas fa-plus"></i></a>
        </div>
    </div>
{% endblock %}

{% block data %}
    data() {
        return {
            objects: {
                {% for color in color_list %}
                    {{ color.pk }}: {
                        isMenuVisible: false,
                        isHovered: false,
                    },
                {% endfor %}
            },
            visibleObjectPk: 0,
        }
    },
{% endblock %}

{% block methods %}
    colorDropdownMenuOnClickHandler(pk) {
        const dropdownMenu = document.getElementById(pk);
        this.dropdownMenuOnClickHandler(pk, dropdownMenu);
    },
    onMenuVisibility(pk) {
        if(this.visibleObjectPk != 0) {
            this.offMenuVisibility(this.visibleObjectPk);
        }
        this.objects[pk]['isMenuVisible'] = true;
        this.visibleObjectPk = pk;
    },
    offMenuVisibility(pk) {
        this.objects[pk]['isMenuVisible'] = false
    },
{% endblock %}