{% extends "color_diary/base.html" %}

{% block title %}Emotebook - -Delete Diary{% endblock %}

{% block content %}
    <div id="deleteDiary">
        <div class="wrapper">
            <div class="sentence">
                <div class="object" :style="{ 'background-color': backgroundColor('{{ diary.color }}'), 'color': fontColor(backgroundColor('{{ diary.color }}')) }">{{ diary.created_at|date:"Y/m/d H:i:s" }} {{ diary.context|truncatechars:10 }}</div><span>を完全に削除しますか？</span>
            </div>
            {% include "color_diary/delete_snippet.html" %}
        </div>
    </div>
{% endblock %}
