{% extends "color_diary/base.html" %}

{% block title %}Color Diary - Diary Index{% endblock %}

{% block content %}
    <a href="{% url 'color_diary:color-index' %}">Colors</a>
    {% load encode %}
    <div id="diaryContainer">
        {% for diary in diary_list %}
            <div class="diaryItem">これ全体が編集画面へのリンク,背景が色の薄まったやつになる
                <div class="date">{{ diary.created_at }}</div>
                <a class="expandLink context" href="{% url 'color_diary:edit-diary' diary_hash_id=diary.pk|encode %}">{{ diary.context }}</a>
                <a class="inlink button-icon" href="{% url 'color_diary:delete-diary' diary_hash_id=diary.pk|encode %}">Delete</a>
            </div>
        {% endfor %}
    </div>

    <a class="button-icon" href="{% url 'color_diary:choose-color' diary_hash_id=CREATE|encode %}">Add Diary</a>
{% endblock %}
