{% extends "color_diary/base.html" %}

{% block title %}Emotebook. - Login{% endblock %}

{% block content %}
    <div id="login">
        <form method="post" action="{{ request.get_full_path }}">
            <div class="titleContainer">
                <div id="title">LOG IN</div>
            </div>
            <div class="formInput">
                {% csrf_token %}
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                {{ form.email }}
                {{ form.password }}
            </div>
            <div class="wrapper"><input class="button" type="submit" value="Log in"></div>
        </form>
    </div>
{% endblock %}
