{% extends "color_diary/base.html" %}

{% block title %}Emotebook. - Login{% endblock %}

{% block content %}
    <div id="login">
        <form method="post" action="{{ request.get_full_path }}">
            <div class="titleContainer">
                <div id="title">LOG IN</div>
            </div>
            <div class="formInput">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div id="email">
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div id="password">
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
            </div>
            <div class="wrapper"><input class="button" type="submit" value="Log in"></div>
        </form>
    </div>
{% endblock %}
